@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @apply scroll-smooth box-border;
  }

  a {
    @apply text-blue-500;
  }

  li,
  a {
    @apply cursor-pointer;
  }

  svg {
    @apply w-full block fill-current;
  }

  img {
    @apply w-full h-auto block;
  }

  input {
    @apply outline-none;
  }

  table {
    // width: initial;
    width: -webkit-fill-available;
  }
}
